/* COLORS
        yellow:     #FFDD28 
        facebook:   #3765a3
        gplus:      #dd4b39
   
   */

* {
    font-family: "Avenir";
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #242424;
    background: url(../img/mtns-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
}

h1 {
    display: inline;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1px;
    font-size: 60px;
    border-bottom: 3px solid #fff;
}
 #header-logo {
    padding-top: 9px;
    width: 300px;
    float: left;
    opacity: 1;
 }
.secondary-title {
    letter-spacing: 1px;
    width: 100%;
    font-size: 50px;
    margin-top: 10px;
    display: block;
    text-align: left;
    padding-left: 4%;
    margin-left: 50px;
}

h2 {
    line-height: 8px;
    font-weight: normal;
    text-align: right;
    padding-right: 46px;
    margin-top: 0px;
    font-size: 18px;
}

h3 {
    position: absolute;
    font-weight: normal;
    margin-top: 30px;
    font-size: 25px;
}

h4 {
    font-weight: normal;
    padding-top: 10px;
    font-size: 15px; 
}

h5 {
    display: inline;
    font-weight: normal;
    font-size: 40px; 
    color: #242424;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    color: inherit;
}

a.nohover:hover {
    color: inherit;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#header {
    margin: auto;
    padding-top: 10px;
    width: 90%;
    height: 70px;
   /* border-bottom: 2px solid #fff;*/

}

.maincontent {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    padding: 20px;
    position: relative;
}

#app-store-badge {
    padding-top: 8px;
}

.btn {
    background: transparent;
    color: #777;
    font-size: 15px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    -webkit-transition: .2s;
}

.btn:hover {
    cursor: pointer;
}

.signup {
    float: right;
    background-color: #FFF;
}

.download {
    background-color: #FFDD28;
    width: 200px;
    margin: auto;
    margin-top: -13px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #CCC;
}

.download:hover {
    box-shadow: 2px 2px 2px #CCC;
}

.signup:hover {
    background: #FFDD28;
    color: #fff;
}

.signin {
    font-size: 15px;
    background: transparent;
    float: right;
}

.login {
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 15px auto;
    width: 100%;
    background-color: #FFDD28;
    box-shadow: 1px 1px 1px #CCC;
}
.transparent {
    background-color: #FFF;
    /*background-color:rgba(20,20,10,0.5);*/
}

.social {
    margin-top: 10px;
    padding-bottom: 1px;
}

.btn-social-connect {
    position: relative;
    border-radius:3px;
    padding: 5px;
    margin: 15px auto;
    box-shadow: 1px 1px 1px #CCC;
}

.btn-social-connect:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #CCC;
}
.btn-social-connect:active {
    cursor: pointer;
    box-shadow: 0px 0px 0px #CCC;
}

.btn-social-text {
    padding-left: 20px;
}

input {
    margin: 20px auto; 
}

.check-box {
    height: 40px;
    float: left;
    padding-left: 5px;
}

#keep-logged-in {
    padding-left: 20px;
    font-size: 12px;
    color: #777;
}

.input {
    outline: 0;
    color: #242424;
    font-size: 13px;
    text-align: left;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    width: 100%;
    margin: 10px auto; 
    padding: 5px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 15px;
}

#daybreak-icon {
    background-color: #FFDD28;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

input[type=submit] {
    outline: 0;
}

.small-text {
    font-size: 12px;
    color: #999;
    display: block;
    position: relative;
    padding-bottom: 10px;
}

.logo {
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    height: 30px;
}

.fb {
    background-color: #3765a3;   
    color: white;
    width: 120px;
    float: left;
}

.gplus {
    background-color: #dd4b39;
    color: white;
    width: 120px;
    float: right;
}

#divider {
    position: absolute;
    bottom: -1px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #DDD;
    box-shadow: 1px 1px 5px #CCC;

    z-index: 1000;
}

#learnmore {
    font-size: 15px;
    color: #242424;
    text-decoration: bold;
    cursor: pointer;
    display: inline;
    padding-left: 30px;
    position: relative;
    bottom: 12px;
}

#more-info {
    position: relative;
    bottom: 0;
    height: 1860px;
    width: 100%;
}

#iphone {
    width: 300px;
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom: -580px;
    margin: auto;
}

#features {
    width: 100%;
    padding-top: 20px;
}

#features ul {
    list-style-type: none;
    width: 90%;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    top: -70px;
    margin: 0;
}

#features li {
    height: 400px;
    padding-bottom: 0px;
    border-bottom: 1px solid #DDD;
}

#features p {
    width: 300px;
    display: block;
    font-size: 20px;
    color: #777;
    margin-top: 25px;
    text-align: left;
    padding-left: 80px;
}

#features h2 {
    line-height: 75px;
    font-size: 40px;
    color: #555;
    float: left;
}

.features-copy {
    padding-left: 5%;
}

.features-title{
    width: 550px;
    height: 80px;
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid #FFDD28;
}

.screenshot-container {
    background-color: #555;
    position: absolute;
    top: 0;
    right: 5%;
    height: 400px;
    width: 450px;
}

.align-left {
    position: relative;
    top: 0px;
    left: -4%;
    display: inline-block;
}

.align-right {
    float: right;
    padding-right: 5%;
    padding-left: 0;

}

#screen1 {
    background: url(../img/daybreak-iphone5.png) no-repeat center;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer {
    position: absolute;
    color: #777;
    bottom: 15px;
    width: 100%;
    height:20px;
    font-size: 12px;
    padding-top: 15px;
    border-top: 1px solid #CCC;
}

.footer ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}
.icon-small {
    display: inline;
    width: 70px;
    height: 70px;
    float: left;
    padding-bottom: 12px;
    margin-right: 8px;
}
/* - - - - - - - - - - - - - - */
/*          Sign In            */
#signin-content{
    width: 330px;
    margin: auto;
}
#signin-form{
    padding-top: 10px;
    height: 235px;
    margin-bottom: 15px;
}

#separator{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}
.card{
    background-color: #fff;
    box-shadow: 1px 1px 5px #CCC;
    padding: 30px;
    border-radius: 5px;
}
/* - - - - - - - - - - - - - - */
/*          Sign Up            */
#signup-form{
    padding-top: 10px;
    height: 290px;
    margin-bottom: 15px;
}
/* - - - - - - - - - - - - - - */

.sidebar {
    float: left;
    width: 20%;
    height: 600px;
    background-color: #DDD;
}

.selector {
    margin-top: 50px;
    list-style-type: none;
}

.selector li {
    text-align: left;
    cursor: pointer;
    height: 40px;
}

.selector li img {
    width: 40px;
    height: 40px;
    float: left;
}

.selector li span {
    display: inline-block;
    font-size: 20px;
    padding: 6px;
    margin: 0;
}

.quickview {
    padding: 20px;
}

.selector {
    padding-left: 20px;
}

.quickview tr td {
    padding: 5px;
}

.quickview tr td img {
    float: left;
    width: 26px;
}

.new-reminder {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    height: 100px;
    background-color: #DDD;
}

.new-reminder-name {
    margin: 0;
    margin-bottom: 10px;
}

ul.time-suggestions {
    list-style-type: none;
    width: 90%;
    margin: auto;
    cursor: pointer;
}

ul.time-suggestions li {
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.reminder {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: #DDD;
    padding: 10px;
}

.reminder ul {
    list-style-type: none;
}
.reminder ul li {
    float: left;
}

.reminder-info {
    display: block;
    padding-top: 9px;
}

.reminder-checkbox {
    width: 30px;
    padding-left: 7px;
    padding-top: 4px;
    margin-right: 10px;
}

.main {
    width: 80%;
    height: 600px;
    background-color: gray;
    float: left;
}

