<!DOCTYPE html>
<html>
<head>
	<link href="css/styles.css" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>
    <script src="jquery.js"></script>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicon-48x48.png" sizes="48x48">
    <title>Signin</title>
</head>
<body>
	<div class="maincontent"> 
		<a href="index.html"><h1>Daybreak</h1></a>
		<h2>smart reminders</h2>
		<form ng-app="myApp" ng-controller="formCtrl" name="form2" nonvalidate>
			<input class="input" type="email"    ng-model="email"      name="email" placeholder="Email...">
			<input class="input" type="password" ng-model="password"   name="password" placeholder="Password...">
			<input type="checkbox" name="persist"><span> Keep me logged in</span><br>
			<input type="submit" value="log in">
		</form>
	</div>
	<div class="divider">
		<span>Never set another reminder time.</span>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('formCtrl', function($scope) {
			// $scope.email = 'Email...';
			// $scope.password = 'Password...';
			// $scope.repassword = 'Confirm Password...';
		});

		var resize = function() {
			var x = $(window).height();
			var y = x - 120 - 436; // last # is 100 (margin-top) + height of maincontent
			if (y > 0) {
				$('.divider').css({ marginTop: y});
			}
		}

		$(window).resize(resize);
		resize();
	</script>
</body>
</html>