<!DOCTYPE html>
<html>
<head>
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/styles-signin.css" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
    <title>Daybreak | Sign In</title>
</head>
<body>
	<div id="signin-content">
        <div id="daybreak-icon" class="card">
        	<a href="index.html">
        		<img src="img/daybreak-icon-b.png">
        	</a>
        </div>
    <div id="signin-form" class="card">
        <form ng-app="myApp" ng-controller="formCtrl" name="form2" nonvalidate>
            <input class="input" type="text" ng-model="user.username" name="name" placeholder="Username...">
            <input class="input" type="password" ng-model="user.password" name="password" placeholder="Password...">
<!--             <div class="check-box">
                <input type="checkbox" name="persist" class="check"><span id="keep-logged-in">Keep me logged in</span>
            </div> -->
            <input ng-click="signIn(user)" type="submit" class="btn btn-social-connect login" value="Sign In">
                <span class="small-text"><a href="signup.html">Forgot Your Password?</a></span>
        </form>
        <div id="separator"></div>
<!--     </div>
    <div class="social card"> -->
        <!-- <h4>Or connect with:</h4> -->
        <div class="fb btn-social-connect">
            <img src="img/fb-logo.jpg" class="logo">
            <span class="btn-social-text">Facebook</span>
        </div>
        <div class="gplus btn-social-connect">
            <img src="img/gplus-logo.png" class="logo">
            <span class="btn-social-text">Google</span>
        </div>
    </div>
    <span class="small-text">Don't have an account? <a href="signup.html">Sign Up</a></span>
   	</div>

	<script>
        Parse.initialize("3xrH0rpnG3FhqNYhTkHR3imuM05EWCliFgD03xef","ZG3ovvLeJqBuRT4H9HMT3kyTPjjFBZzNXQYuVfbE");

		var app = angular.module('myApp', []);
		app.controller('formCtrl', function($scope) {
			// $scope.email = 'Email...';
			// $scope.password = 'Password...';
			// $scope.repassword = 'Confirm Password...';
		});

        app.run(['$rootScope',function($scope) {
            $scope.currentUser = Parse.User.current();

            if ($scope.currentUser) {
                window.location.href = "app.html";
            }

            $scope.signIn = function(form) {
                Parse.User.logIn(form.username, form.password, {
                    success: function(user) {
                        $scope.currentUser = user;
                        $scope.$apply();
                        window.location.href = "app.html";
                    },
                    error: function(user, error) {
                        alert("Unable to log in: " + error.code + " " + error.message);
                    }
                });
            };
        }]);
	</script>
</body>
</html>