<!DOCTYPE html>
<html>
<head>
	<link href="css/styles.css" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>
    <script src="jquery.js"></script>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicon-48x48.png" sizes="48x48">
    <title>Signup</title>
</head>
<body>
	<div class="maincontent"> 
		<a href="index.html"><h1>Daybreak</h1></a>
		<h2>smart reminders</h2>
		<h3>Sign Up</h3>
		<form nonvalidate ng-app="myApp" ng-controller="formCtrl" name="form">
			<input class="input" type="email"    ng-model="email"      name="email" placeholder="Email...">
			<input class="input" type="password" ng-model="password"   name="password" placeholder="Password...">
			<input class="input" type="password" ng-model="repassword" name="repassword" placeholder="Confirm Password...">
			<span ng-show="passmatch()">Passwords must match</span><br>
			<input type="checkbox" name="persist"><span> Keep me logged in</span><br>
			<input type="submit" value="get started">
		</form>
	</div>
	<div class="divider">
		<span>Never set another reminder time.</span>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('formCtrl', function($scope) {
			$scope.passmatch = function () {
				return (($scope.repassword != $scope.password) && 
						($scope.form.repassword.$dirty == true) &&
						($scope.form.password.$dirty == true));
			}
		});

		var resize = function() {
			var x = $(window).height();
			var y = x - 120 - 542;
			if (y > 0) {
				$('.divider').css({ marginTop: y});
			}
		}

		$(window).resize(resize);
		resize();
	</script>
</body>
</html>