<!DOCTYPE html>
<html>
<head>
	<link href="css/styles.css" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>
    <title>Signin</title>
</head>
<body>
	<div class="maincontent"> 
		<a href="index.html"><h1>Daybreak</h1></a>
		<h2>smart reminders</h2>
		<form ng-app="myApp" ng-controller="formCtrl" name="form2" nonvalidate>
			<input class="input" type="email"    ng-model="email"      name="email" placeholder="Email...">
			<input class="input" type="password" ng-model="password"   name="password" placeholder="Password...">
			<input type="checkbox" name="persist"><span> Keep me logged in</span><br>
			<input type="submit" value="log in">
		</form>
	</div>
	<div class="footer">
		<span>Never set another reminder time.</span>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('formCtrl', function($scope) {
			// $scope.email = 'Email...';
			// $scope.password = 'Password...';
			// $scope.repassword = 'Confirm Password...';
		});
	</script>
</body>
</html>